<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.m2e.core.projectConfigurators">
       <configurator
             class="me.gladwell.eclipse.m2e.inject.GuiceExtensionFactory:me.gladwell.eclipse.m2e.android.AndroidMavenProjectConfigurator"
             id="me.gladwell.eclipse.m2e.android.androidDevelopmentToolsProjectConfigurator"
             name="Android Development Tools Project Configurator">
       </configurator>
    </extension>
    <extension
          point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   <extension
          id="me.gladwell.eclipse.m2e.android.markers"
          point="org.eclipse.core.resources.markers" />
   <extension
          id="me.gladwell.eclipse.m2e.android.markers.dependency"
          point="org.eclipse.core.resources.markers">
          <super type="org.eclipse.core.resources.problemmarker"/>
          <super type="me.gladwell.eclipse.m2e.android.markers"/>
          <persistent value="true" />
   </extension>
   <extension
          id="me.gladwell.eclipse.m2e.android.markers.dependency.apklib"
          point="org.eclipse.core.resources.markers">
          <super type="org.eclipse.core.resources.problemmarker"/>
          <super type="me.gladwell.eclipse.m2e.android.markers.dependency"/>
          <persistent value="true" />
   </extension>
</plugin>
