<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="test.service" android:versionCode="1" android:versionName="1.0">

	<application>
		<service android:name="CounterService" android:exported="true">
			<intent-filter>
				<action android:name="test.library.ICounterService" />
			</intent-filter>
		</service>
	</application>
</manifest>
