<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.maven.ide.eclipse.projectConfigurators">
        <configurator
              class="com.byluroid.eclipse.maven.android.AndroidDevelopmentToolsProjectConfigurator"
              id="com.bylur.eclipse.maven.android"
              name="Android"
              priority="101"/>
        <configurator
              class="org.maven.ide.eclipse.jdt.internal.JavaProjectConfigurator"
              id="org.maven.ide.eclipse.jdt.internal"
              name="Java"
              priority="101"/>
    </extension>
</plugin>
