<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Maven for Android Eclipse (Andmore)" sequenceNumber="43">
   <locations>
      <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
         <unit id="org.eclipse.andmore.android" version="0.5.0.201504161308"/>
         <repository location="http://download.eclipse.org/andmore/milestone/0.5-M1"/>
      </location>
      <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="org.eclipse.m2e.feature.feature.group" version="1.6.1.20150625-2338"/>
        <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.6.1.20150625-2338"/>
        <repository location="http://download.eclipse.org/technology/m2e/releases/1.6/"/>
      </location>
      <location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
         <repository location="http://download.eclipse.org/releases/mars/"/>
         <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      </location>
   </locations>
   <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.6"/>
</target>
