<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta name="keywords" content="android,maven,eclipse,m2e,m2eeclipse,plugin,software,java,build,development,programming" />
<meta name="author" content="m2e-android  / Original design: Andreas Viklund - http://andreasviklund.com/" />
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://groups.google.com/group/maven-android-developers/feed/rss_v2_0_msgs.xml" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="http://groups.google.com/group/maven-android-developers/feed/atom_v1_0_msgs.xml" />

<title>{{ page.title }} - {{ page.subtitle }}</title>
</head>

<body>

<div id="banner">
   If you're using m2e-android commercially or you'd like more releases please consider crowdfunding development through <a href="http://www.patreon.com/rgladwell">Patreon</a>.
</div>

<a href="http://github.com/rgladwell/m2e-android"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

<div id="thetop">
<a id="top"></a>
<p class="hide">Skip to: <a href="#sitemenu" accesskey="2">Site menu</a> | <a href="#maincontent" accesskey="3">Main content</a></p>
</div>

<div id="container">
<div id="main">

<div id="logo">
<h1>[<a href="index.html" accesskey="4">{{ page.title }}</a>]</h1>
<span id="tagline">{{ page.subtitle }}</span>
</div>

{{ content }}

<div class="clear">&nbsp;</div>
</div>

<div id="footer"><p>&copy; 20011 Ricardo Gladwell. Design by <a href="http://andreasviklund.com/" class="credit">Andreas Viklund</a>  of <a href="http://jokkmokk.biz/" title="ITUS Jokkmokk">Jokkmokk</a> | <a href="http://www.xnavigation.net/" title="xNavigation gratis download - La risorsa italiana sul software">xNavigation download</a>.</p></div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-24701706-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
